@font-face {
    font-family: Raleway;
    font-weight: 100;
     src: url(../fonts/Raleway-Light.ttf) format("ttf");
}
@font-face {
    font-family: EBGaramond;
    font-weight: 300;
    src: url(../fonts/EBGaramond-Regular.ttf) format("ttf");
}
@font-face {
    font-family: Raleway;
    font-weight: 700;
    src: url(../fonts/Raleway-Bold.ttf) format("ttf");
}

