footer {
    border-top: 1px solid $primaryColor;
    // background: $lightGray;
    padding-top: $gutter;
    height: 100%;

    .container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        text-align: center;
    }

    p {
        flex-basis: 100%;
    }
}