header {
    text-align: center;
    padding: $gutter 0;
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
    background: rgba(255, 255, 255, 0.95);
    background-blend-mode: screen;
    z-index: 1;
    top: 0;

    .container {
        display: flex;
        justify-content: space-between;
        position: relative;
    }
    .logo {
        display: block;
        max-height: 50px;
    }

    img {
        max-height: 100%;
        height: 50px;
        float: left;

        @include mq($until: mobileSmall) {
            max-width: 80%;
        }
    }
    @include mq($until: tablet) {
        font-size: 28px;
    }
}