.hero-image {

    width: 100%;
    height: 521px;
    background-image: url('../images/hero_full.jpg');
    background-position-y: -160px;
    background-repeat: no-repeat;
    display: block;
    margin-left: auto;
    margin-right: auto;

    @include mq($until: tablet) {
        background-position-x: -450px;
    }
	@include mq($until: mobile) {
        background-position-x: -550px;
    }
}