$sectionGutter: 10vh;
$sectionGutter-mobile: 45px;
$gutter: 15px;

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: "Lato";
    font-weight: 100;
    font-size: 18px;
    line-height: 1.6;
    overflow-x: hidden;
    color: $black;

}

.container {
    position: relative;
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 15px;
    padding-bottom: 0px;

    @include mq($from: desktop) {
       padding: 0;
    }

}

section {
    // padding-top: $sectionGutter;
    padding-bottom: $sectionGutter;


    // @include mq($until: tablet) {
    //     padding-top: $sectionGutter-mobile;
    //     margin-bottom: $sectionGutter-mobile;
    // }

    // &:last-of-type {
    //     margin-bottom: 0;
    // }
    // &:first-of-type {
    //     margin-top: 0;

    //     &:last-of-type {
    //         margin-top: 15px;
    //     }
    // }
    &:first-of-type {
        padding-top: 80px;
    }
    &:nth-child(2n), &:nth-child(2n) .title-block {
        background: $lightGray;

    }

    &:nth-child(2n) {
        // padding-top: $sectionGutter;
        background: $lightGray;
    }
    &:last-of-type {
        padding-top: $gutter;
    }
}
h1 {
    font-family: "EBGaramond";
    font-size: 30px;
    -webkit-font-smoothing: antialiased;
    text-align: center;
    line-height: 1.4;
    color: $primaryColor;
    text-transform: uppercase;

    @include mq($until: tablet) {
        font-size: 24px;
    }
}

h2 {
    font-family: "EBGaramond";
    font-size: 30px;
    -webkit-font-smoothing: antialiased;
    text-align: center;
    color: $primaryColor;
    text-transform: uppercase;
    line-height: 1.4;
    margin-top: 0;
}

.title-block {
    width: 320px;
    width: 100%;
    max-width: 500px;
    background: white;
    padding-top: 10px;
    
    // &:nth-child(2n) {
    //     background: $lightGray;
    // }

    @include mq($until: tablet) {
        padding-top: 20px;
    }
}