.link, a[href^="mailto:"] {
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 18px;
    position: relative;
    color: $primaryColor;
    display: inline-table;
    border: 3px solid $primaryColor;
    padding: 10px 50px;
    transition: background 200ms linear;

    &:hover {
        background: $primaryColor;
        color: white;

    }
    // &:after {
    //     content: "";
    //     display: block;
    //     position: absolute;
    //     width: 75%;
    //     height: 5px;
    //     bottom: -5px;
    //     left: 0;
    //     right: 0;
    //     margin: auto;
    //     background-color: $black;
    //     transition: width 400ms ease;
    // }
    // &:hover {
    //     cursor: pointer;
    //     &:after {
    //         width: 100%;
    //     }
    // }
}