.hamburger-icon-wrapper {
    position: relative;
    margin-top: -20px;
    width: 26px;
    height: 34px;
    cursor: pointer;
    z-index: 1;
    align-self: center;
}

.hamburger-icon {
    top: 24px;
    background: $primaryColor;

    &:before {
        top: -10px;
    }

    &:after {
        top: 10px;
    }

    &,
    &:before,
    &:after {
        display: block;
        background: transparent;
        content: '';
        position: absolute;
        border-radius: 1em;
        height: 2px;
        width: 24px;
        background: $primaryColor;
        transition: all 0.2s ease
    }
}
.hamburger-active {
    // Prevent from scrolling when menu is open
    // overflow: hidden;

    #hamburger {
        // position: absolute;
    }
    .hamburger-icon {
        transform: rotate(-135deg);

        &:before {
            transform: rotate(90deg)
        }

        &:before,
        &:after {
            top: 0;
        }
    }
    .menu {
        opacity: 1;
        pointer-events: initial;
        z-index: 1;
    }
    .menu-wrapper {
        transform: translate(-50%, -50%) scale(1)
    }
}
.menu {
    transition: all 0.4s ease;
    opacity: 0;
    pointer-events: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(white, 0.92);
    color: white;
    text-align: center;
}

.menu-wrapper {
    display: block;
    transition: all 0.4s ease;
    padding: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    transform: translate(-50%, -50%) scale(1.2);

    .menu-item {
        list-style: none;
        padding-bottom: 40px;
    }
    a {
        text-decoration: none;
        color: $primaryColor;
        font-weight: 100;
        padding: 20px 10px;
        font-size: 26px;
        text-transform: uppercase;
        // font-family: "EBGaramond";
        position: relative;

        &:hover {
            color: lighten($primaryColor, 20);
            // &:after {
            //     display: block;
            // }

        }

        &.active {
            color: $primaryColor;
        }

        &:after {
            content: "";
            display: none;
            position: absolute;
            width: 85%;
            height: 5px;
            bottom: 15px;
            left: 0;
            right: 0;
            margin: auto;
            background-color: black;
        }
    }
}

.language {
    color: $primaryColor;
    list-style-type: none;
    height: 30px;
    line-height: 30px;
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 50px;
    font-size: 22px;
    bottom: 0;
    margin: auto;
    transition: height 200ms linear;
    display: flex;
    flex-direction: column;
    text-transform: uppercase;

    li:not(.current) {
        order: 1;
    }
    &:hover {
        height: 60px;
    }
    a {
        text-decoration: none;

        &:hover {
            color: lighten($primaryColor, 20) !important; 
            text-decoration: underline;
        }

        &:visited {
            color: $primaryColor;
        } 
    }
}