.officess {
    // background: $lightGray;

    .container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;


        .office-item {
            flex-basis: 50%;
            font-size: 24px;
            padding: 20px;

            .office-adress {
                line-height: 1.3;
                padding-bottom: 5px;

                span:first-child {
                    text-transform: uppercase;
                }
            }

            p {
                font-size: 18px;
                margin: 5px 0;

                &:last-child {
                    margin-bottom: 15px;
                }
            }

            @include mq($until: tablet) {
                font-size: 20px;
            }

            &:nth-child(even) {
                padding-left: 30px;
                // border-left: 2px dashed $primaryColor;
            }

            @include mq($until: tablet) {
                flex-basis: 100%;
                padding-left: 0 !important;
                padding-right: 0 !important;
                border-left: 0 !important;
            }
            .office-map {
                width: 100%;
                height: 200px;
                margin-top: 0.7em;
            }
        }
        h2 {
            flex-basis: 100%;
        }
        h3 {
            flex-basis: 100%;
            text-align: center;
            margin-bottom: -20px;
            margin-top: 40px;
        }
    }
}