.service {
  .service-bg {
    width: 100%;
    height: 600px;
    // max-height: 600px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    @include mq($until: ipadPro) {
        background-attachment: inherit;
    }
    &:after {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      background: rgba(156, 180, 228, 0.3);
    }
  }

  .title-block {
    margin-top: -1em;
    padding-bottom: 1em;
  }
}