@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
.slider {
    position: relative;
    .slick-track {
        display: flex;
        justify-content: space-between;

    }
    .slider-item {
        // background: $primaryColor;
        width: 33%;
        max-width: 250px;
        display: block;
        margin: auto;

        img {
            margin: auto;
            max-width: 100%;
            background-size: 100%;
            &:hover {
                animation: shake 1s ease-in-out both;
                transform: translate3d(0, 0, 0);
            }
        }

    }
    a {
        &:hover {
            animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
            transform: translate3d(0, 0, 0);
        }
    }
    .slick-arrow {
        display: block;
        position: absolute;
        font-size: 45px;
        cursor: pointer;
        @include mq($until: desktop) {
            display: none !important;
        }
        &.arrow-right {
            right: -60px;
            top: 30%;
            &:before {
                content: "〉";
            }
        }

        &.arrow-left {
            left: -60px;
            top: 30%;
            &:before {
                content: "〈";
            }
        }
    }
}