#team{
    // background: $lightGray;

    .container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .team-member {
        flex-basis: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        @include mq($from: tablet) {
            &:nth-child(odd) {
                .team-member-image {
                    order: -1;
                }
            }
        }
        @include mq($until: tablet) {

            .team-member-image {
                order: -1;
            }
        }

        &:nth-child(even) {
            border-top: 3px solid $primaryColor;
            border-bottom: 3px solid $primaryColor;
        }
        .team-member-image {
            flex-basis: 50%;
            width: 100%;
            @include mq($from: tablet) {
                order: 2;
            }
            @include mq($until: tablet) {
                flex-basis: 100%;
            }

            img {
                width: 100%;
                max-width: 100%;
                height: 100%;
            }
        }
        .team-member-content {
            flex-basis: 50%;
            padding-left: 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            position: relative;

            @include mq($until: tablet) {
                flex-basis: 100%;
            }

            .content-wrapper {
                height: 100%;
                padding-bottom: 20px;

                @include mq($until: tablet) {
                    padding-bottom: 30px;
                }
            }
            .member-name {
                font-weight: 500;
                margin-top: 60px;
                margin-bottom: 0;

            }
            .hidden {
                display: none;
            }
            .member-about {
                position: absolute;
                height: 100%;
                margin: 0;
                padding-bottom: 20px;

                @include mq($until: tablet) {
                    position: relative;
                    padding-bottom: 30px;
                }

                p {
                    text-align: left;
                    line-height: 1.4;
                    padding: 0 10px;

                    @include mq($until: desktop) {
                        font-size: 18px;
                    }
                }

                .link {
                    padding-top: 0px;
                }
            }
            .member-excerpt {
                margin-top: 5px;
                margin-bottom: 40px;
            }

            .link {
                margin: auto;
                padding-top: 40px;
            }

            .member-social {
                a {
                    display: inline-block;
                    width: 50px;
                    height: 50px;
                    background-size: 100%;
                    transition: transform .5s ease-in-out;

                    &:hover {
                        transform: rotate(180deg);
                    }
                }
                .social-linkedin {
                    background: url('../images/linkedin-icon.png');
                }
                .social-angel {
                    background: url('../images/angellist-icon.png');
                }
            }
        }
    }
}