{% block html_head_container %}

{% include 'html-header.twig' %}

{% endblock %}
	<body class="{{body_class}}" data-template="base.twig">
		<header>
		    <div class="container">
			    <a class="logo" href="{{site.url}}">
			        <img src="{{site.theme.link}}/build/images/logo.svg" alt="Kalrock logo">
			    </a>
    			{% include "menu.twig" with {'menu': menu.get_items} %}
		    </div>
		</header>
		{# <header class="header" >
			{% block header %}
				<div class="wrapper">
					<h1 class="hdr-logo" role="banner">
						<a class="hdr-logo-link" href="{{site.url}}" rel="home">{{site.name}}</a>
					</h1>
					<nav id="nav-main" class="nav-main" role="navigation">
					</nav><!-- #nav -->
				</div>
			{% endblock %}
		</header> #}

		{% block content %}
		{% endblock %}

		{% block footer %}
			<footer id="footer">
				{% include 'footer.twig' %}
			</footer>
			{{ function('wp_footer') }}
		{% endblock %}
	</body>
</html>
