<div class="container">
    <p>© {{"now"|date('Y')}} KALROCK</p>
    <p>Kalrock Capital Management Ltd is an Appointed Representative of Capital Systematics Ltd, which is authorised and regulated by the Financial Conduct Authority.</p>
</div>
<script src="{{site.theme.link}}/build/js/bundle.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDDxSpko9l134t7_oUOZnKe0GzVe1MAN8M&callback=window.initMap"></script>