{% extends "base.twig" %}

{% block content %}
    {% for page in pages|reverse %}
        <section class="service" id="{{page.slug}}">
            <div class="service-bg" style="background-image: url('{{ page.thumbnail.src }}');"></div>
            <h2 class="title-block container">{{ page.title }}</h2>
            <div class="container">
                {{ page.content }}
            </div>
        </section>
    {% endfor %}
    {% if team|length > 0 %}
        <section class="team" id="team">
            <h2>Team</h2>
            <div class="container">
                {% for member in team %}
                    <div class="team-member">
                        <div class="team-member-image">
                            <img src="{{member.thumbnail.src}}" alt="{{member.title}}">
                        </div>
                        <div class="team-member-content">
                            <div class="content-wrapper">
                                <h3 class="member-name">{{member.title}}</h3>
                                <p class="member-excerpt">{{member.post_excerpt}}</p>
                                <div class="member-social">
                                    {% if member.angel %}<a class="social-angel" href="{{member.angel}}"></a>{% endif %}
                                    <a class="social-linkedin" href="{{member.linkedin}}"></a>
                                </div>
                                <a href="" class="link about-member-more">More</a>
                            </div>
                            <div class="member-about hidden">
                                <p>{{member.post_content}}</p>
                                <a href="" class="link about-member-less">Less</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </section>
    {% endif %}

    <section class="officess" id="contact">
        <div class="container">
            <h2>Contact</h2>
            {% for office in offices %}
                <div class="office-item">
                    <p class="office-adress">
                        <span>{{office.title}}</span><br>
                        <span id="office-street">{{office.street}}</span><br>
                        <span id="office-region">{{office.region}}</span><br>
                        <span>{{office.country}}</span>
                    </p>
                    <p>{{office.phone}}</p>
                    <div class="office-map" id="map"></div>
                </div>
            {% endfor %}
            <h3><a class="link" href="mailto:info@kalrock.com">e-mail</a></h3>
        </div>
    </section>
    {% if portfolio|length > 0 %}
        <section class="portfolio" id="portfolio">
            <div class="container">
                <h2>Portfolio</h2>
                <div class="slider">
                    {% for company in portfolio %}
                        <div class="slider-item">
                            <a href="{{company.url}}">
                                <img src="{{company.thumbnail.src}}">
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    {% endif %}
{% endblock %}