{% if menu %}
    <nav class="menu">
        <ul class="menu-wrapper">
            {% for item in menu %}
                <li class="menu-item">
                    <a href="{{item.get_link}}">{{item.title}}</a>
                </li>
            {% endfor %}
        </ul>
    </nav>
    <ul class="language">
        {% for language in allLanguages %}
           <li class="{{ language.current_lang ? 'current'}}"><a href="{{ language.url }}">{{ language.slug }}</a></li>
        {% endfor %}
    </ul>
    <div id="hamburger" class="hamburger-icon-wrapper">
    <span class="hamburger-icon"></span>
    </div>

{% endif %}